<html lang="ja">
<head>
  <style>
    body {
      margin: 0;
      padding: 0;
      overscroll-behavior: none;
    }
  </style>
</head>
<body>
  <canvas id="mainCanvas" width="160" height="144"></canvas>
</body>
</html>
